<section class="grid grid-cols-2">
    <div class="col-span-2 md:col-span-1 p-20 flex justify-end flex-col
     bg-[linear-gradient(rgba(0,120,112,0.8),rgba(0,120,112,0.8)),url('/social-media-branding.avif')] bg-cover bg-center">
    <h2 class="text-white text-5xl font-bold text-end">تمكين إمكانيات النطق</h2>
    <p class="mt-6 text-gray-300 text-end ">انضم إلى علاج نطقي مبني على الأدلة للأطفال</p>
    </div>
    <div class="col-span-2 md:col-span-1 flex justify-center items-center sm:h-190">
            <div class="my-3 bg-white shadow rounded p-7 w-2/3">
                <h1 class="text-4xl mb-2 text-gray-700 font-bold text-end">إنشاء حساب</h1>
                <p class="text-gray-600 text-end">ابدأ رحلتك مع علاج النطق القائم على الأدلة</p>
                <app-register-form/>
                <p class=" text-center mt-6 text-gray-600">لديك حساب بالفعل؟ <a class="text-red-500 cursor-pointer" routerLink="/login">تسجيل الدخول</a></p>
            </div>
            

        
    </div>
</section>

